body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303030;
  color: #FFFFFF;
}

body{
  background-image: url(https://pbs.twimg.com/media/FFi4I31XsAMiHGu?format=jpg&name=4096x4096);
  background-size: cover;
  background-position: center;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    display: grid;
    height: 80px;
    width: 250px;
    background: linear-gradient(
        #251d1def,
        #000000ef

    );
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;  
    place-items: center;
    font-family: "Poppins", sans-serif;
    color: #fdfafaef;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 3px;
    border-radius: 5px;


}

#root{
  display: grid;
  text-align: center;
  place-content: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
